.nav-sidebar .dashboard-opt a,
.nav-sidebar .dashboard-opt a:hover,
.nav-sidebar .dashboard-opt a:focus {
  	background-color: #222222;
}

.nav-sidebar .dashboard-opt a:hover{
	background-color: #A1A1A1;
}

.nav-sidebar .post-opt a,
.nav-sidebar .post-opt a:hover,
.nav-sidebar .post-opt a:focus {
	color: #fff;
	background-color: #A1A1A1;
}

#page-result  i{
	vertical-align: middle;
}